<h1>Bud Page</h1>
<h3>Things to know about, Smoking, Rolling, Strains, and (eventually) Growing.</h3>
<%= image_tag("kanofblissIMG/flower.png", :alt => "") %>

<h2>Smoking and Rolling</h2>
<p>Most of this section hopefully is common knowlege, but for the newbies that might show up, here it goes.</p>
<p>there are two common ways of smoking weed, rolling it or using a glass pieces</p>
<p>I will talk more about glass pieces on the Glass Page so I'll focus more on rolls</p>
<p>for the most part you'll either have Blunts or Joints</p>
<div class="Blunts">
  <h3>Blunts</h3>
  <p>I'm sure many of you have heard of Swishers and Backwoods, these are cigars(cigarillos) that you can buy at a smoke shop, cornerstores, basically anywhere that sells tobacco products.</p>
  <p>The way you use Swishers and Backwoods is by gutting the cigar (taking out the tobacco already pre rolled). Some people will cut the wrap open to clean it out but if you don't
    have anything to cut with, you can carefully unroll the leaf and clean it that way. After you gut the leaf can fill it with weed and roll it back up.
    A few reasons for smoking these blunts is flavor and how easy it is to roll. Tobacco leaves are pretty sticky after you lick them and because it was already rolled it begins
    to curl so its east to roll it back up again. Also Swishers and Backwoods come in diffrent flavors so it adds another layer of pleasure to smoking. Some downsides to smoking
    tobacco leaf blunts is well, it's tobacco so you're still putting yourself at risk of common cancers like lung cancer and stuff like that, although it is much less then like a cigarette.</p>
  <p>The second type of blunt (I guess) are hemp wraps or just tobacco free wraps. The most common of these are King Palms and High Hemp Wraps. Both of these have no tobacco in them and High Hemps
  come in diffrent flavors. High Hemp wraps are sticky just like a Swisher or a Backwood and take just a little bit more effort to roll. one complaint about Hemp Wraps is that they are very thin and
  are prone to ripping much easier. I do reccomend High Hemps if you want to get practice in for rolling blunts infront of yout friends and stuff becuse they come with filter tips to keep bud out of
  your mouth and smooter smoke as well as a small cardboard straw you can use to pack it tight. King Palms are basically the shell of a cigar but it is actually a palm leaf. This means that they dont
  have to be rolled, all you do is pack the weed in with the provided packing tool and you're ready to smoke. King Palms are very slow
  burning and the filter is a corn husk filter. This provides the coolest and smoothest smoke I think you will ever expirece that doesn't come out of a glass piece.</p>

</div>
<div class="Joints">
  <h3>Joints</h3>
  <p>Joints are also pretty common and have just a few key diffrences to Blunts.</p>
  <p>Joints use Rolling papers which are mostly found at smoke shops. Rolling papers are very thin so some people like to use two to roll so there is  a less chance of it ripping.</p>
  <p>Rolling Joints is damn near a expert level rolling shit but just by looking up how to roll a joint on youtube or something its pretty easy to learn it, and with practice you'll
  be a pro in no time. Raw brand papers are the most common and dont have any added flavors but you can totally find other brands that have flavored papers. overall this is probably
the most common way people smoke weed although it changes depending on who you smoke with and where you are. </p>

</div>
<div class="Strains">
  <h2>Strains</h2>
  <p>There are 3 'catagories' of weed: Indica, Sativa, and Hybrid</p>
  <h3>Indica</h3>
  <p>Indica Dominate Strains create a feeling that's known as " Couch Lock ". Old heads have a saying that I've heard many times when they talk about weed,  "Indica will have you in da couch"
  Indica creates a body high as in, you feel it in your limbs; throughout you're entire body. Indca is great to smoke if you want to just chillout, release stress tension, and go to sleep. Probably the most popular
  Strain is Grandaddy Purp(le). I honestly could'nt tell you why but is a very great indica strain that has a very nice taste and very potent effects. If you can get your hands on it, enjoy it and dont
  take it for granted. So overall Indica Dominate Strains are great for relaxation, chilling out, and just feeding the munchies.</p>
<br>
<h3>Sativa</h3>
<p>Sativa Dominate Strains create what is called a head high. I don't think old heads have a saying for sativa sadly. Sativa is great for productivity. It can generate feelings of euphoria, reduce stress and anxiety, and more creatvive
then Indica which makes you more relaxed. The most popular strains are Sour Deisel, Haze, and Northern Lights. this is most likely because they have a higher THC content (17-20%) making it very potent. These are Common strains so their easy to
get your hands on and keep in rotation. </p>
<br>
<h3>Hybrid</h3>
<p>This section is short</p>
<p>Hybrid Weed is a combination of Both Indica and Sativa, creating varying effects depending on wether Indica and Sativa is the dominate (parent) strain in the hybrid.
when smoking hybrid it's always good to look up the strain on weed</p>
</div>

<div class="Growing">
  <h2>Growing</h2>
  <h3>This section is under construction and will be added at a (much) later date.</h3>
</div>
