<h1>Carts Page</h1>
<h3>Info on Carts, the Black Market, Spotting Fakes and other stuff</h3>
<%= image_tag("kanofblissIMG/cart.svg", :alt => "") %>
<div class="Center">
  <h3>What is a Cart?</h3>
  <p >Carts are Cannabis extract called distillate which is a wax that can be vaporized by a 510 thread battery.
     Wax tech is still pretty new which is why if you heard/watched the news you hear alot of people talking about vaping realated illnesses and even death.
     This issue is the reason I am giving it it's own page instead of lumping it in with the other types of extracts.
  </p>
</div>

<div class="Center">
  <h3>Black Market Carts</h3>
  <p>Black Market Carts are carts that are unregulated by the government and are considered an illegal products.
     Black Market Carts are making a bad name for themselves because they are the main contriutor to the vaping deaths.
     Unregulated products means anyone who makes them can fill your cart with all types of nasty shit like PG (Propylene Glycol),
     VG(Vegetable Glycerin), Vitamin E Acetate, and in some of the worse cases K2 (Sythetic Weed)
    </p>
</div>
